<!DOCTYPE html>
<html>
<head>
	<title>Displayer</title>
    <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css”/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
	<script src="https://d3js.org/d3.v7.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>

	<link rel="shortcut icon" href="#">
	<link rel="icon" href="src/favicon.ico" type="image/x-icon">
	<link type="text/css" rel="stylesheet" href="src/style.css" />
</head>
<body>
	<table style="height: 100%; width: 100%;">
		<tr>
			<td style="width: 75%; height: 100%;">
				<div id="map"></div>
			</td>
			<td>
				<table id="content" style="height: 100%; width: 100%;">
					<tr style="height: 2%;"><td></td></tr>
					<tr style="height: 8%; width: 100%; "><td>
						<table style="height: 100%; width: 100%; ">
							<tr>
								<td style="text-align: center; width: 5%;">
									<button class="btn btn-primary" type="button" onclick="playSlideShow()" style="color: #202124; background-color: #13bba4 !important; border-color: #202124; width: 100%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#202124" class="bi bi-play" viewBox="0 0 16 16">
			 								<path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
										</svg>
									</button>
								</td>
								<td style="text-align: center; width: 5%;">
									<button class="btn btn-primary" type="button" onclick="stopSlideShow()" style="color: #202124; background-color: #13bba4 !important; border-color: #202124; width: 100%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pause" viewBox="0 0 16 16">
										  <path d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
										</svg>
									</button>
								</td>
								<td style="text-align: center; ">
									<input type="range" min="{{ first_date_time }}" max="{{ last_date_time }}" value="{{ first_date_time }}" class="slider" id="date" style="width: 80%; background-color: #202124;">
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<button class="btn btn-primary" type="button" onclick="displayAll()" style="color: #202124; background-color: #13bba4 !important; border-color: #202124">
										Display All
									</button>
								</td>
								<td id="sliderStateTD">
									<output id="sliderState"></output>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<button id="velocitySign" class="btn btn-primary" type="button" onclick="changeSlideshowVelocity()" style="color: #202124; background-color: #13bba4 !important; border-color: #202124; width: 100%;">
										[+]
									</button>
								</td>
							</tr>
						</table>
					</td></tr>
					<tr style="height: 90%;"><td>
						<img id="image" style="width: 100%;">
						<p id="imageDate"></p>
					</td></tr>
				</table>
			</td>
		</tr>
	</table>
	
</body>
</html>
<script>
	// TODO: fix path generation
	const REPLACEMENT = "slash";
	// in 10th of seconds
	const FAST_SLIDESHOW_DURATION = 100;
	const SLOW_SLIDESHOW_DURATION = 600;

	var options = { year: 'numeric', month: 'numeric', day: 'numeric' };
	var slider = document.getElementById("date");
	var slideShowStatus = false;
	var currentlyBouncing = null;
	var geocoder;

	var fastSlideshow = {{ last_date_time - first_date_time }} / FAST_SLIDESHOW_DURATION;
	var slowSlideshow = {{ last_date_time - first_date_time }} / SLOW_SLIDESHOW_DURATION;

	var slideShowVelocity = fastSlideshow;

	function initMap() {
		geocoder = new google.maps.Geocoder();

		var bounds = new google.maps.LatLngBounds();

	  	const map = new google.maps.Map(document.getElementById("map"), {
	    	mapTypeId: "satellite",
		});

	  	var travelCoordinates = [];
	{% for image in images %}
		travelCoordinates.push({
			lat: {{ image.latlon.latitude_deg }}, 
			lng: {{ image.latlon.longitude_deg }},
		});

		window.marker{{ image.id }} = new google.maps.Marker({
			position: {lat: {{ image.latlon.latitude_deg }}, lng: {{ image.latlon.longitude_deg}} },
			map,
			title: "{{ image.path }}".replaceAll(REPLACEMENT, "/"),
		});

		bounds.extend(window.marker{{ image.id }}.position);

		window.marker{{ image.id }}.addListener("click", () => {
			document.getElementById("image").src = "assets/{{ image.path }}";
			document.getElementById("imageDate").innerHTML = "(" + (new Date({{ image.image_date_time_naive.timestamp() }}*1000)).toLocaleDateString("en-US", options) + ")";
			slider.value = {{ image.image_date_time_naive.timestamp() }};
			window.marker{{ image.id }}.setAnimation(google.maps.Animation.BOUNCE);
			if (currentlyBouncing != null) {
				currentlyBouncing.setAnimation(null);
			}
			currentlyBouncing = window.marker{{ image.id }};
	    });

	{% endfor %}
		const travelPath = new google.maps.Polyline({
			path: travelCoordinates,
			geodesic: true,
		    strokeColor: "#FF0000",
		    strokeOpacity: 0.8,
		    strokeWeight: 3,
		});
		travelPath.setMap(map);
		map.fitBounds(bounds);
	}


	slider.addEventListener('input', sliderChanged, false);

	function playSlideShow() {
		slideShowStatus = true;
		var thisInterval = setInterval(function(){
		    if (!slideShowStatus || {{ last_date_time }} == parseInt(slider.value)) {
		    	clearInterval(thisInterval);
		    }
		    document.getElementById('date').value = parseInt(document.getElementById('date').value) + slideShowVelocity;
		    sliderChanged();
		}, 100);
	}
	function stopSlideShow() {
		slideShowStatus = false;
	}

	function displayAll() {
	{% for image in images %}
		window.marker{{ image.id }}.setVisible(true);
	{% endfor %}
	}

	function sliderChanged() {
		var distance = Number.MAX_SAFE_INTEGER;
		var imagePath = "";
		var timestamp = 0;
		var closestMarker = null;
	{% for image in images %}
		if (Math.abs({{ image.image_date_time_naive.timestamp() }} - parseInt(slider.value)) <=  {{ delta.num_seconds() }}) {
			if (distance > Math.abs({{ image.image_date_time_naive.timestamp() }} - parseInt(slider.value))) {
				distance = Math.abs({{ image.image_date_time_naive.timestamp() }} - parseInt(slider.value));
				imagePath = "assets/{{ image.path }}";
				timestamp = {{ image.image_date_time_naive.timestamp() }};
				closestMarker = window.marker{{ image.id }};
			}
			window.marker{{ image.id }}.setVisible(true);
		} else {
			window.marker{{ image.id }}.setVisible(false);
		}
		window.marker{{ image.id }}.setAnimation(null);
	{% endfor %}
		document.getElementById("sliderState").innerHTML = (new Date(slider.value*1000)).toLocaleDateString("en-US", options);

		if (document.getElementById("image").src == "http://localhost:8000/" + imagePath.replaceAll(" ", "%20")) {
			return;
		}

		geocoder
			.geocode({ location: closestMarker.position })
			.then((response) => {
				const location = response.results[0].formatted_address;

				document.getElementById("imageDate").innerHTML = "(" + (new Date(timestamp*1000)).toLocaleDateString("en-US", options) + " - " + location + ")";
				
			});
		document.getElementById("image").src = imagePath;
		closestMarker.setAnimation(google.maps.Animation.BOUNCE);
		currentlyBouncing = closestMarker;
	}

	
	function changeSlideshowVelocity() {
		if (slideShowVelocity == slowSlideshow) {
			slideShowVelocity = fastSlideshow;
			document.getElementById("velocitySign").innerHTML = "[+]";
		} else {
			slideShowVelocity = slowSlideshow;
			document.getElementById("velocitySign").innerHTML = "[-]";
		}
	}
</script>
<script 
	async
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAMhdmFdWtlpz5AS3jTPE6vz9J5nemSQ8&callback=initMap"
    defer
></script>