<head>
	<title>Displayer</title>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <style type="text/css">
    	#map {
			height: 100%;
		}

		html,
		body {
			height: 100%;
			margin: 0;
			padding: 0;
		}
    </style>
</head>
<body>
	<div id="map"></div>
	<script>
	function initMap() {
	  	const map = new google.maps.Map(document.getElementById("map"), {
	    	zoom: 11,
	    	center: { lat: 47.36667, lng: 8.55 },
	    	mapTypeId: "satellite",
		});
	{% for image in images %}
		{% if loop.first %}
		var srcImage = "{{ image.path }}";

		var bounds = new google.maps.LatLngBounds(
			new google.maps.LatLng(0, 0),
			new google.maps.LatLng(50, 50)
		);
		

		var overlay = new google.maps.GroundOverlay(
			srcImage,
			bounds
		);
		{% else %}
		srcImage = "{{ image.path }}";
		
		bounds = new google.maps.LatLngBounds(
			new google.maps.LatLng(0, 0),
			new google.maps.LatLng(50, 50)
		);
		

		voverlay = new google.maps.GroundOverlay(
			srcImage,
			bounds
		);
		{% endif %}
		overlay.setMap(map);
	{% endfor %}
	}
	</script>
	<script 
	async
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAMhdmFdWtlpz5AS3jTPE6vz9J5nemSQ8&callback=initMap"
    defer
	></script>
</body>
